{
  "extends": ["@vta/eslint-config-typescript"],
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["@vta/*", "vta"]
      }
    ],
    "import/extensions": ["error", { "js": "never", "ts": "never", "json": "always" }]
  }
}
