**/node_modules/
**/dist/
**/coverage/
*.temp.*
!/packages/**/__snapshots__/dist/
*-error.log
/packages/internal/__tests__/data/copy-files-test/packages/test-*
/packages/*/.npmignore
/packages/*/babel.config.js
/packages/*/LICENSE
/packages/*/tsconfig.build.json
